titulo{
    font-family: 'I suck at golf', sans-serif;
    font-family: 'Maxhild', sans-serif;
    font-family: 'Along Sans s2', sans-serif;
    color: black;
    text-shadow: 5px 5px 5px #1e1447;
                                                
    font-size: 40px;
    text-align: center;                                           
}
h3{
    color: #8B0000;
    font-family: 'Megilan', sans-serif;
                                                
}
body{
    background-color: #a9d5f9;
    color: #DC143C	;

}
li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}