titulo{
    font-family: 'I suck at golf', sans-serif;
    font-family: 'Maxhild', sans-serif;
    font-family: 'Along Sans s2', sans-serif;
    color: black;
    text-shadow: 5px 5px 15px #ee8e17;
                                                
    font-size: 70px;
    text-align: center;                                           
}
h3{
    color: #8B0000;
    font-family: 'Megilan', sans-serif;
                                                
}
body{
    background-color: #ffe182;
    color: #DC143C	;

}